# Problem Set 2

This problem set is based on lectures 4,5 and 6. For a complete list of topics please consult page 2 of the course syllabus.<br> Please consult the ‚ÄúInstructions for Problem Set Submissions‚Äù document under course information before submitting your assignment.

# Question1

Consider the following Python module:<br>
a = 0 <br>
def b():<br>
global a <br>
a = c(a) <br>
def c(a):<br>
return a + 2 <br>
After importing the module into the interpreter, you execute: <br>
b() <br>
b() <br>
b() <br>
a <br>
? <br>
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a): 
 return a + 2

In [2]:
b()
b()
b()
a

6

Explanation of Question 1 : <br>
The first step is to set a=0. <br>
2nd Step: call function b() for the first time with "a" value of 0, pointing to b(), a=c(a), a = 0 <br>
3rd Step: The function c() is called,return (a+2), which means (0+2), and the final value of a=(0+2)= 2 is obtained.<br>
4th Step: Calling function b() a second time with "a" value of 2, pointing to b(), a=c(a), a = 2 <br>
5th Step: The function c() is called, return (a+2), which means (2+2), and the final value of a=(2+2)= 4 is obtained. <br>
6th Step: call function b() a third time, with "a" value of 4, pointing to b(), a=c(a), a = 4 <br>
7th Step: The function c() is called, return (a+2), which means (4+2), and the final value of a=(4+2)= 6 is obtained. <br>

# Question2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:<br>
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [3]:
def file_length(fname):
        try:
            file = open(fname)
            cts = file.read()
            file.close()
            print(len(cts))
        except FileNotFoundError:
            print(f'File {fname} not found.')

In [4]:
file_length('dhruval.txt')

6

In [5]:
file_length('dpp.txt')

File dpp.txt not found.

# Question3

Write a class named Marsupial that can be used as shown below:<br>
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: <br>
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object <br>
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis and <br>
c. overloads the __str__ operator so it behaves as shown below.

In [22]:
class Marsupial:
    def __init__(self):
        self.myList = []
    def put_in_pouch(self,str):
        self.myList.append(str)
    def pouch_contents(self):
        return self.myList

class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")"
    
my = Marsupial()
my.put_in_pouch('doll')
my.put_in_pouch('firetruck')
my.put_in_pouch('kitten')
my.pouch_contents()

kgo = Kangaroo(0,0)

print(kgo)

kgo.put_in_pouch('doll')
kgo.put_in_pouch('firetruck')
kgo.put_in_pouch('kitten')
kgo.pouch_contents()
kgo.jump(1,0)
kgo.jump(1,0)
kgo.jump(1,0)
print(kgo)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

# Question4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:<br>
x = { ùë•/2 ùëñùëì ùë• ùëñùë† ùëíùë£ùëíùëõ <br>
      3ùë•+1 ùëñùëì ùë• ùëñùë† ùëúùëëùëë <br>
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [14]:
def collatz(x):
    if x == 1:
        print(x)
    elif x % 2 == 0:
        print(x)
        x = x/2
        collatz(x)
    else:
        print(x)
        x = 3*x + 1
        collatz(x)

In [15]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

In [16]:
collatz(1)

1

# Question5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [17]:
def binary(n):
    st = str(n % 2)
    
    if n>>1>0:
        st += binary(n >> 1)
    
    return st

In [18]:
binary(0)

'0'

In [19]:
binary(1)

'1'

In [20]:
binary(3)

'11'

In [21]:
binary(9)

'1001'

# Question6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [8]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    headers = ["h1", "h2"]
    currHeader = -1

    def handle_starttag(self, tag, attrs):
        if tag in HeadingParser.headers:
            HeadingParser.currHeader = HeadingParser.headers.index(tag)
    
    def handle_endtag(self, tag):
        if tag == HeadingParser.headers[HeadingParser.currHeader]:
            HeadingParser.currHeader = -1
            
    def handle_data(self, data):
        if HeadingParser.currHeader >= 0:
            print(" " * HeadingParser.currHeader + data)

In [9]:
fileOpen = open("w3cc.html","r")

In [10]:
fileContents = fileOpen.read()

In [11]:
myHeadingParser = HeadingParser()

In [13]:
myHeadingParser.feed(fileContents)

W3C Mission
 Principles

# Question7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

# Question8

Write SQL queries on the below database table that return:<br>
a) All the temperature data.<br>
b) All the cities, but without repetition.<br>
c) All the records for India.<br>
d) All the Fall records.<br>
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.<br>
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.<br>
g) The total annual rainfall for Cairo.<br>
h) The total rainfall for each season.

In [1]:
import sqlite3
con = sqlite3.connect('info.db')
cur = con.cursor()
cur.execute("CREATE TABLE weather (city text, country text, season text,temperature real, rainfall real)")

In [2]:
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [3]:
cur.execute("Select temperature from weather")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [4]:
cur.execute("Select distinct city from weather")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [5]:
cur.execute("Select * from weather where country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [6]:
cur.execute("Select * from weather where season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [7]:
cur.execute("Select city, country, season from weather group by city, country, season having avg(rainfall) between 200 and 400")
cur.fetchall()

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

In [8]:
cur.execute("Select city, country from weather group by city, country having avg(temperature) > 20 order by temperature")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [9]:
cur.execute("Select sum(rainfall) from weather where city = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [10]:
cur.execute("Select season, sum(rainfall) season from weather group by season ")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question9

Suppose list words is defined as follows: <br>
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] <br>
Write list comprehension expressions that use list words and generate the following lists:<br>

In [11]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
print([a.upper() for a in words])
print([a.lower() for a in words])
print([len(a) for a in words])
print([[a.upper(), a.lower(), len(a)] for a in words])
print([a for a in words if len(a)>=4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']